#formInscription{
	width	:	75%;
	padding : 5%;
	background-color : red;
	margin-left	:	left;
	text-align : center;
}

.formInsc_innerBox input{
	display : block;
	width : 300px;
	height : 40px;
	margin : 10px auto;
	font-size : 14px;
}

.formInsc_innerBox{
	display	:	inline-block;
	vertical-align : top;
	background-color : black;
	text-align : center;
}

#boutonInsc {
	margin-top: 20px;
	width: 200px;
	height:	108px;
	background:	url('../img/design/boutonInscription.png');
	border:	none;
	cursor:	pointer;
}

#boutonInsc:hover {
	background			:	url('../img/design/boutonInscriptionHover.png');
}