#formInscription{
	width	:	80%;
	background-color : red;
	margin-left	:	0px;
	text-align : center;
}

.formInsc_innerBox{
	display	:	inline-block;
	vertical-align : top;
}

#boutonInsc {
	width				:	200px;
	height				:	108px;
	background			:	url('../img/design/boutonInscription.png');
	border				:	none;
	cursor				:	pointer;
}

#boutonInsc:hover {
	background			:	url('../img/design/boutonInscriptionHover.png');
}