/* - FONT FACE - */ /* 	background-color	:	green; */
@font-face{
	font-family			:	'PoetsenOne-Regular';
	src					:	url('../files/design/polices/PoetsenOne-Regular.ttf');
}
@font-face{
	font-family			:	'Montserrat';
	src					:	url('../files/font/Montserrat-Light.otf');
}
/* - GLOBAL PARAMETERS */
body{
	font-family			:	'Montserrat';
}
.wrapper{
	position			:	relative;
	width				:	100%;
	padding				:	0px;
	margin-top			:	50px;
}
.alert_layer{
	position			:	absolute;
	z-index				:	10;
	width				:	100%;
	height				:	50px;
}
.hero_layer{
	position			:	relative;
	padding				:	100px 0px;
	width				:	100%;
	background-color	:	#f9e4fc;
}
.mono_layer{
	position			:	relative;
	margin-top			:	100px;
}
.body_layer{
	position			:	relative;
	width				:	100%;
}
.title-center{
	text-align			:	center;
	width				:	50%;
	margin				:	auto;
}
/* - SPECIFIC PARAMETERS */
/* -1) navbar ..			*/
nav{
	background-color	:	white;
	padding-left		:	5%;
	padding-right		:	5%;
}
.navbar-brand{
	padding				:	0px;
}
/* -2)homepage			*/
.homepageBckgd{
	position			:	absolute;
	z-index				:	-1;
	width				:	100%;
	height				:	auto;
	display				:	block;
}
.homepage_hero{
	color				:	#fff;
	min-height			:	527px;
	padding-top			:	50px;
}
.homepage_hero_title{
	font-size			:	56px;
	font-weight			:	650;
	text-shadow			: 	0 3px 20px rgba(0,250,0,0.5);
	margin-top			:	0px;
	margin-bottom		: 	42px !important;
}
.mid_sentence{
	line-height			:	74px;
}
.homepage_hero_subtitle{
	font-size			:	22px;
	line-height			:	32px;
	font-weight			:	650;
	text-shadow			: 	0 3px 20px rgba(250,0,0,0.6);
	margin-bottom		: 	42px !important;
}
.homepage_form{
	margin-bottom		:	42px !important;
}
.homepage_oblck{
	margin-bottom		: 	42px !important;
}
.homepage_oblck_delivery_date{
	font-size			:	44px;
	font-weight			:	650;
	text-shadow			: 	0 3px 20px rgba(0,0,250,0.4);
}
.homepage_footer{
	padding				:	20px 0px;
	height				:	80px;
	-webkit-box-shadow	: 	0px 10px 10px -5px rgba(0,0,0,0.5);
	-moz-box-shadow		: 	0px 10px 10px -5px rgba(0,0,0,0.5);
	box-shadow			: 	0px 10px 10px -5px rgba(0,0,0,0.5);
}
.ordered{
	padding-top			:	30px;
}
.ordered .row{
	margin-top			:	20px;
	margin-bottom		:	20px;
}
.ordered .ordered_img{
	position			:	relative;
}
.registrationpage_form form{
	margin-top			:	40px;
}
.obligatory{
	margin-top			:	40px;
}
.connectionpage_form form{
	margin-top			:	80px;
}
/* - PRIVACY PARAMETERS - */
.privacy_hero{
	padding				:	20px;
	-webkit-box-shadow	: 	0 0 5px 1px rgba(114,114,114,0.6);
	-moz-box-shadow		: 	0 0 5px 1px rgba(114,114,114,0.6);
	box-shadow			: 	0 0 5px 1px rgba(114,114,114,0.6);
	background-color	:	#ffffff;
}
.privacy_slogan{
	padding				:	10px 30px;
	font-size			:	26px;
	font-weight			:	650;
}
.privacy_introduction{
	text-align			:	justify;
	padding				:	10px 50px;
	border-left			:	solid grey 2px;
}
.privacy_introduction button{
	margin-top			:	20px;
}
.privacy_body_title{
	font-size			:	26px;
	font-weight			:	650;
	padding				:	25px 0px;
}
.privacy_body_core{
	margin				:	auto;
}
.privacy_body_core li{
	padding				:	15px;
}
.core_subtitle{
	font-size			:	22px;
	font-weight			:	600;
}
/* - STORE PARAMETERS - */
.store_layer{
	position			:	relative;
	margin-top			:	50px;
	padding-top			:	20px;
}
.title{
	font-size: 14px;
	font-weight: bold;
}
.price{
	font-size: 14px;
	font-weight: bold;
}
/* - DASHBOARD PARAMETERS - */
.dashboard_tab_content_orders{
	position			:	absolute;
	width				:	100%;
	margin-top			:	40px;
	-webkit-box-shadow	: 	0 0 5px 1px rgba(114,114,114,0.6);
	-moz-box-shadow		: 	0 0 5px 1px rgba(114,114,114,0.6);
	box-shadow			: 	0 0 5px 1px rgba(114,114,114,0.6);
	background-color	:	#ffffff;
	-webkit-transition	:	opacity 1s;
	transition			:	opacity 1s;
}
.switchable_content{
	background-color	:	red;
	position			:	relative;
	width				:	100%;
}
.onclick{
	/*position			:	absolute;*/
	top					:	0px;
	width				:	100%;
	background-color	:	green;
	text-decoration		:	underline;
	cursor				:	pointer;
}
#dashboard_tab_content_current_order{
	position	:	absolute;
	border		:	1px solid black;
	opacity		:	1;
}
#dashboard_tab_content_orders_history{
	position	:	absolute;
	opacity		:	0;
	visibility	:	"hidden";
}