@font-face {

	font-family			:	'CGF Locust Resistance';
	src					: 	url('files/design/polices/CGF Locust Resistance.ttf');
}

@font-face{

	font-family			:	'Tactical Espionage Action';
	src					:	url('files/design/polices/Tactical Espionage Action.ttf');

}

@font-face{

	font-family			:	'MGS2';
	src					:	url('files/design/polices/MGS2.ttf');

}

@font-face{

	font-family			:	'MGS2MENU';
	src					:	url('files/design/polices/MGS2MENU.ttf');

}

@font-face{

	font-family			:	'METAG___';
	src					:	url('files/design/polices/METAG___.ttf');

}


@font-face{

	font-family			:	'PoetsenOne-Regular';
	src					:	url('files/design/polices/PoetsenOne-Regular.ttf');

}



/*--------------------------------------------------------------------------HEADER---------------------------------------------------------------------------*/

@media screen and (min-width : 1366px){

	#wrap{
	
		max-width			:	1366px;
		margin				:	auto;
		font-family			:	'PoetsenOne-Regular';
	}
}

@media screen and (min-width : 1024px){
	
	#wrap{
	
	min-width				:	1290px;
	max-width				:	1366px;
	}
	
	#header_container{

		position			:	relative;
		background-image	:	url('img/design/bandeau.jpg');
		background-repeat	:	no-repeat;
		background-size		:	100%;
		/*min-height			:	475px;*/
		min-height			:	475px;
		width				:	100%;
	}
	
	#ul_mainNav{

		position			:	absolute;
		left				:	20px;
		bottom				:	20px;
		max-width			:	780px;

}

	#ul_mainNav .li_mainNav{

		width				:	170px;
		height				:	68px;
		display				:	inline-block;
		background-image	:	url('img/design/nav/bckgrdButton2.png');
		line-height			:	68px;
		color				:	white;
		font-family			:	'PoetsenOne-Regular';
		text-align			:	center;
		margin				:	0 10px;
	}
	
	#ul_mainNav .li_mainNav:hover{
	
		cursor				:	pointer;
		background-image	:	url('img/design/nav/bckgrdButton_hover.png');
	}
}

@media screen and (max-width : 1024px)
{

	#wrap{

	min-width			:	1024px;
}
	
	#header_container{
	
		position			:	relative;
		background-image	:	url('img/design/bandeau.jpg');
		background-repeat	:	no-repeat;
		background-size		:	100%;
		min-height			:	380px;
	}
	
		#ul_mainNav{

		position			:	absolute;
		left				:	5px;
		bottom				:	5px;
		min-width			:	40%;

	}

	#ul_mainNav .li_mainNav{

		width				:	100px;
		height				:	48px;
		display				:	inline-block;
		/*background-image	:	url('img/design/nav/bckgrdButton2.png');*/
		line-height			:	48px;
		color				:	white;
		font-family			:	'PoetsenOne-Regular';
		text-align			:	center;
		margin				:	0 10px;
	}
}

#header_bandeauTop{

	background-color	:	rgba(150, 150, 150, 0.25);
	height				:	50px;
	position			:	absolute;
	top					:	0px;
	width				:	100%;

}

#header_logo_cc, #header_boxUser{

	display 			: 	inline-block;
	vertical-align		:	top;
}

#header_logo_cc{

	width				:	50%;
}

#header_logo_cc #header_titre{

	min-width			:	310px;
	text-shadow			: 	0px 0px 9px #ffffff;
}

#header_logo_cc img{

	height				:	50px;

}

#header_logo_cc #header_titre{

	text-align			:	center;
	color				:	black;
	font-family			: 	'METAG___';
	display				:	inline-block;
	vertical-align		:	top;
	width				:	50%;
	height				:	50px;
	line-height			:	50px;
}

#header_boxUser{		/* La box client du header*/
	
	/*margin-left			:	-300px;*/
	/*float				:	right;*/
	position			:	absolute;
	right				:	0px;
	top					:	0px;
	min-width			:	650px;
	max-width			:	50%;
	width				:	480px;
	text-align			:	right;
}

#header_boxUser #emailUser{

	line-height			:	50px;
}

#header_boxUser #emailUser, #header_boxUser #decoButton{

	vertical-align		:	top;
}

#header_boxUser input{	/* Les input du formulaire de connexion client.*/

	width				:	190px;
	height				:	30px;
	margin				:	10px;

}

#header_slogan{

	position			:	absolute;
	top					:	50px;
	height				:	50px;
	line-height			:	50px;
	color				:	white;
	font-size			:	30px;
	text-align			:	center;
	width				:	50%;
	font-family			:	'PoetsenOne-Regular';
}

#boxVideo{

	position			:	absolute;
	top					:	115px;
	left				:	50px;
}

/*---------------------------------------------LEFTNAV-------------------------------------------------*/

#wrap_leftNav{

	background-color	:	rgba(40, 40, 40, 0.75);
	width				:	20%;
	min-height			:	100%;

}

#leftNav_logo{

	width				:	100%;
	text-align			:	center;
	margin-bottom		:	10px;
}

#leftNav_logo img{

	height				:	100px;

}

#leftNav_titre{

	color				:	black;
	font-family			: 	'METAG___';
	text-align			:	center;
	margin-bottom		:	10px;
	text-shadow			: 0px 0px 9px #ffffff;

}

#leftNav_recherche{

	width				:	80%;
	margin				:	auto;
	text-align			:	center;
	padding-bottom		:	10px;
	border-bottom		:	1px solid black;

}

#leftNav_recherche input, #leftNav_recherche a{

	margin-top			:	10px;
	display				:	inline-block;
	vertical-align		:	top;

}

#leftNav_recherche input{

	width				:	160px;
	height				:	30px;
	margin-right		:	10px;

}

#leftNav_ul{

	margin-top			:	10px;
	width				:	100%;
	text-align			:	center;

}

#leftNav_ul .leftNav_li{

	text-align			:	center;
	width				:	80%;
	border-top			:	1px solid black;
	margin				:	auto;
}

#leftNav_ul .li_navCat a:visited{

	color				:	black;
}

#leftNav_ul .li_navCat a:hover{

	background-color	:	green;
}

#leftNav_ul .li_navCat a{

	display				:	block;
	color				:	black;
}

#leftNav_ul .leftNav_li #leftNav_ul_about .leftNav_li_about a:visited{

	color				:	black;
}

#leftNav_ul .leftNav_li #leftNav_ul_about .leftNav_li_about a:hover{

	background-color	:	green;
}

#leftNav_ul .leftNav_li #leftNav_ul_about .leftNav_li_about a{

	display				:	block;
	color				:	black;
}

#leftNav_ul .leftNav_li #leftNav_ul_about .leftNav_li_about{

	width				:	100%;
	text-align			:	left;
	height				:	25px;
	line-height			:	25px;

}

#leftNav_ul .li_navCat{

	width				:	100%;
	text-align			:	left;
	height				:	25px;
	line-height			:	25px;
}

#leftNav_ul input{

	width				:	80%;
	height				:	30px;
	margin-bottom		:	10px;
}

#boxPanier #imgPanier{

	width				:	80px;
}

#boxPanier #imgPanier, #boxPanier #bouton_viderPanier{

	display				:	inline-block;
	vertical-align		:	top;
}

#boxPanier #bouton_viderPanier a{

	display				:	block;
	width				:	25px;
	height				:	25px;
	background-image	:	url('img/design/vider.png');
	background-size		:	100%;
}

#boxPanier #bouton_viderPanier a:hover{

	background-image	:	url('img/design/viderHover.png');
	background-size		:	100%;
}
/*----------------------------------------------SECTION-----------------------------------------------*/

@media sreen and (min-width : 1366px){

	#wrap_leftNav{
	
		width			:	273.2px;
	
	}

	#wrap_section{
	
		width			:	1092.8px;
	}
	
}

@media screen and (max-width	:	1024px){

	#wrap_leftNav{
	
		width			:	204.8px;
	
	}

	#wrap_section{
	
		width			:	819.2px;
	}

}

#wrap_section{

	width				:	80%;
	height				:	100%;
	/*background-image	:	url('img/design/bandeau.jpg');*/
	/*background-repeat	:	no-repeat;*/
	/*background-size		:	cover;*/
}

#wrap_leftNav, #wrap_section{

	display				:	inline-block;
	vertical-align		:	top;

}

#wrap_section h2{

	margin				:	20px;
	font-size			:	32px;

}

#ul_produit{

	margin				:	20px;
}

.li_produit{

	width				:	20%;
	border				:	solid 1px black;
	text-align			:	center;

}

.li_produit .titre_produit{

	font-size			:	12px;

}

.li_produit i{

	font-size			:	10px;
}

		/*----------------SECTION--------bouton validation de commande----------------*/
	
#boxValid a{

	width				:	325px;
	height				:	158px;
	position			:	fixed;
	bottom				:	0px;
	right				:	0px;
	color				:	white;
	line-height			:	158px;
	
}
		
#boxValid #notavailable{

	display				:	block;
	background-image	:	url('img/design/validButtonNotAvailable.png');
	background-size		:	100%;
}

#boxValid #available{

	display				:	block;
	background-image	:	url('img/design/validButton.png');
	background-size		:	100%;
}

#boxValid #available:hover{

	background-image	:	url('img/design/validButtonHover.png');
}
		
		/*-----------------SECTION-------------boutique-------------------------------------*/
		
#form_lc input{

	width				:	30px;
}


.container_img{

	border-bottom		:	solid 1px black;
}

.li_produit img{

	width				:	150px;
}

			/*-------------SECTION---------------commander-----------------------------------*/

#boxAlert{
	
	position			:	fixed;
	width				:	50%;
	border				:	1px solid black;
	box-shadow			:	8px 8px black;

}
			

/*----------------------------------------------FOOTER------------------------------------------------*/

#div_footerIndexContainer{

	position			:	relative;
	font-family			:	'PoetsenOne-Regular';
	height				:	206px;
	background-color	:	rgba(40, 40, 40, 0.75);
	padding				:	10px;

}

#div_footerIndexContainer ul:last-child{

	border				:	none;
}

.ul_footerIndex{

	display				:	inline-block;
	vertical-align		:	top;
	width				:	30%;
	border-right		:	black 1px solid;
	height				:	206px;
	margin				:	0 10px;

}

.ul_footerIndex h3{

	width				:	70%;
	border-bottom		:	solid 1px black;
}

.ul_footerIndex li{

	height				:	25px;
	line-height			:	25px;
}

.ul_footerIndex li a{

	
	color				:	black;
}


.ul_footerIndex li a:visited{

	color				:	black;
	height				:	25px;
	line-height			:	25px;
}

.ul_footerIndex li:hover{

	background-color	:	green;

}

#padlock{

	position			:	absolute;
	bottom				:	0px;
	right				:	0px;
}

#padlock img{

	width				:	30px;
}

#rechercher{

	margin-top			:	50px;
	text-align			:	center;
}

#rechercher input, #rechercher img{

	display				:	inline-block;
	vertical-align		:	top;
}

#rechercher input{

	width				:	250px;
	height				:	30px;
	margin-right		:	10px;
}