<div class="col-md-10">
	<div class="col-md-12">
		<a href="{{base_path}}/store">Retour à la boutique</a>
	</div>
		<div class="col-md-8 col-xs-12 col-sm-9">
			<img src="{{base_path}}/files/pictures/product/{{product.id}}.jpg" class="img-responsive img-rounded" alt="image grand format" style="background-color:green;"/>
		</div>
		<div class="col-md-4">
				<div class="panel panel-default">
						<div class="panel-heading">
							 <h4 class="panel-title text-uppercase">{{ product.label }} <div class="panel-title text-right">{{ product.price_unit }} €<sup>{{product.price_deci}}</sup></div></h4>
							 <small>{{product.ref}}</small>
						</div>
						<table class="table">
							<tr>
								<th>Producteur : </th>
								<td>{{product.supplier.label}}</td>
							<tr>
							<tr>
								<th>Agriculture : </th>
								<td>{{product.agriculture}}</td>
							<tr>
								<th>Emballage : </th>
								<td>{{product.packaging }}</td>
							</tr>
							<tr>
								<th>Poids : </th>
								<td>{{product_package_weight}}{{product.weight_unit}}</td>
							</tr>
							<tr>
								<th>Prix à l'unité : </th>
								<td>{{product.priceper}} € / {{product.weight_unit_ref}}</td>
							</tr>
						</table>
						<div class="panel-body">	
							<p>{{product.description}}</p>
						</div>
				</div>
				<!-- DIV FORMULAIRE QUANTITE -->
				<div class="text-center" id="formAmount{{ cat.id }}_{{ product.id }}">
					<a class="btn btn-primary btn-sm" href="javascript: substractProduct('{{ cat.id }}_{{ product.id }}')"><span class="glyphicon glyphicon-minus-sign"></span></a>
					<span id="{{ cat.id }}_{{ product.id }}" style="font-size:14px">1</span>
					<a class="btn btn-primary btn-sm" href="javascript: addProduct('{{ cat.id }}_{{ product.id }}')"><span class="glyphicon glyphicon-plus-sign"></span></a><br/><br/>
					<a class="btn btn-primary btn-sm" href="javascript: submitToBasket('{{ cat.id }}_{{ product.id }}', {{ product.id }})" role="button">Ajouter au panier</a>
				</div>
		</div>
		<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Autres produits pour ce producteur : </h4>
					</div>
					<div class="panel-body">
						<ul class="list-inline list-unstyled">
							{% for product in product.supplier.products %}
								<li class="col-md-3">
									{% include "objects/product/li.html" %}
								</li>
							{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
