{% extends "base.html" %}

{% block title %}Court Circuit - Distribution de produits fermiers locaux{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron">
	  <img class="img-responsive center-block" src="files/CourtCircuitLogoNoir.png" style="width:50%"/>
	  <p class="text-center"><i>Consommation consciencieuse</i></p>
	  <br/>
	  <h3 class="text-center">Une stratégie économique pour garantir une alimentation saine... <i>durablement!</i></h3>
		<br/><br/>
		<img class="img-responsive center-block" src="files/Schema_fonctionnement.png" style="width:80%"/>
	</div>
</div>
{%endblock%}