<?php
  $dolibarr_api_url = "http://localhost/dolibarr/htdocs/api/index.php";
  $dolibarr_user_login = "admin";
  $dolibarr_user_password = "admin";
  $dolibarr_web_customer_catid = 3;
  $dolibarr_web_customer_groupid = 1;
  $dolibarr_clientadherent_catid = 2;
  $dolibarr_anonymous_client_id = 2;

