<li><a href="{{ base_path }}/inscription"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
<li class="dropdown" style="margin-right:20px">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-log-in"></span> Connexion<span class="caret"></span></a>
	<ul class="dropdown-menu col-md-6" style="padding:10px;">
		<li>
		<form role="form" 
		   method="POST" action="{{ base_path }}/user/login">
			 <div class="input-group col-md-12">
				  <input name="email" type="text" class="form-control" placeholder="Adresse e-mail" required/>
			</div><br/>
			<div class="input-group col-md-12">
				  <input name="password" type="password" class="form-control" placeholder="Mot de passe" required/>
			</div>	  
				<input name="forward" type="hidden" class="form-control" value="{{ base_path }}{{ path }}"/>
			 <br/>
			 <button type="submit" class="btn btn-primary">Connexion</button>
		 </form>
		 </li>
	 </ul>
</li>

