<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Court Circuit Sénart</title>
	<!--Favicon-->
	<link rel="icon" type="image/png" href="files/ProfilFacebook.png" />
    <!-- Bootstrap -->
    <link href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ base_path }}/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
@font-face {

	font-family	:	'Montserrat-Bold';
	src					: 	url('files/font/Montserrat-Bold.otf');
}
@font-face{
	font-family	:	'Montserrat-Light';
	src					:	url('files/font/Montserrat-Light.otf');
}
body{
	font-family	:	'Montserrat-Light';
}
.panel-heading{
	padding			:	0px;
	font-family	:	'Montserrat-Bold';
	background-image :  url('files/CourtCircuitN16039.jpg');
	background-size	:	cover;
	background-repeat	:	no-repeat;
}
.slogan{
	background-color : rgba(255, 255, 255, 0.5);
}
.step1{
	color	:	blue;
}
.step2{
	color	:	green;
}
.step3{
	color	:	red;
}
</style>
  </head>
  <body>
	<div class="wrapper container-fluid">
	<div class="hero_layer">
		<div class="privacy_hero container">
			<h1 class="text-center"><span class="glyphicon glyphicon-wrench"></span> SITE EN MAINTENANCE <span class="glyphicon glyphicon-wrench"></span></h1>
			<div class="slogan">
				<img class="img-responsive center-block" src="files/LogoCC2019.png" style="width:20%"/>
				<h5 class="text-center"><i>N'allez pas chercher plus loin!</i></h5>
			</div>
			
		</div>
		<div class="body_layer">
			<p class="text-center"><small><i>« Court Circuit est un outil de consommation responsable, c'est à dire, qui se veut soucieux de réduire son impact sur l'environnement tout en répondant aux besoins de ses consomm'acteurs. »</i></small></p>
			<p class="text-center">Association spécialisée dans la distribution de produits fermiers locaux.<br/>Nous sommes votre partenaire idéal pour assurer la restauration lors de vos conférences, réceptions et festivals.</p>
			<p class="text-center">Dès à présent nous redonnons au « local » tout son sens en vous le rendant accessible, simplement et au juste prix.</p>
			<div class="row">
				<div class="step1 col-md-4">
					<h3>1) VOUS COMMANDEZ</h3>
					<small>Par téléphone, par mail ou en ligne</small>
				</div>
				<div class="step2 col-md-4">
					<h3>2) ILS PREPARENT</h3>
					<small>vos produits issus d'une agriculture biologique ou raisonnée</small>
				</div>
				<div class="step3 col-md-4">
					<h3>3) NOUS VOUS LIVRONS</h3>
					<small>à domicile, sur votre lieu de travail ou sur un point de retrait</small>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="row" style="margin-top:15px;border:solid 1px black">
				<div class="col-md-6">
					<strong><span class="glyphicon glyphicon-phone-alt"></span> 06 58 19 93 04</strong>
				</div>
				<div class="col-md-6 text-right">
				<strong><span class="glyphicon glyphicon-envelope"></span> contact@courtcircuit.bio</strong>
				</div>
			</div>
		</div>
		<div class="row" style="margin:auto;width:60%">
				<h3 class="text-center">Note de patch 2.10.1</h3>
					<h5><strong>Corrections de bugs</strong></h5>
					<ul>
						<li>Correction d'un bug affectant l'enregistrement des commandes ( 75% effectué)</li>
						<li>Correction d'un bug affectant l'affichage des commandes sur le profil utilisateurs (100% effectué)</li>
					</ul>
					<h5><strong>Mises à jour</strong></h5>
					<ul>
						<li>Mise à jour du profil utilisateur ( 45% effectué)</li>
					</ul>
					<h5><strong>Nouvelles fonctionnalités</strong></h5>
					<ul>
						<li>Ajout du porte feuille utilisateur ( 80% effectué)</li>
						<li>Affichage des paiements sur la page profil utilisateur (80% effectué)</li>
					</ul>
		</div>
	</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
