{% extends "base.html" %}

{% block title %}Contact{% endblock %}


{% block content %}
<div class="container-fluid">
<form id="contact" method="POST" action="#">
  <div class="form-group col-md-6 col-md-offset-3">
    <input type="text" placeholder="email" class="form-control" name=""/>
    <select class="form-control">
      <option value="">Demander un devis</option>
      <option value="">Obtenir des informations</option>
      <option value="">Support (Suivi de commande)</option>
	</select> 
    <textarea>Votre message</textarea>
  </div>
</form>
</div>
{% endblock %}