{% extends "base.html" %}

{% block title %}Inscription{% endblock %}


{% block content %}
 <form  method="post" action="inscription.php">
        <div class="row"> 
          <div class="col-md-6 col-md-offset-3">
             <input type="text" class="form-control" id="email_c" name="email_c" placeholder="Email"/>
             <span id="helpBlock" class="help-block">Votre mail nous permet de vous authentifier</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-3">
            <input class="form-control" id="mdp_c" name="mdp_c" placeholder="Mot de passe" type="password">
          </div>
          <div class="col-md-3">
            <input class="form-control" id="mdp_c" name="mdp_c" placeholder="Confirmer le mot de passe" type="password"/>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-md-3 col-md-offset-3">
            <input class="form-control" id="nom_c" name="nom_c" placeholder="Nom" type="text"/>
          </div>
          <div class="col-md-3">
          	<input class="form-control" id="prenom_c" name="prenom_c" placeholder="Prenom" type="text">
          </div>
        </div><br/>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
          	<input class="form-control" id="adresse_c" name="adresse_c" placeholder="Adresse" type="text"/>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-md-2 col-md-offset-3">
            <input class="form-control" id="cp_c" name="cp_c" placeholder="Code postal" type="text">
          </div>
          <div class="col-md-4">
          	<input class="form-control" id="ville_c" name="ville_c" placeholder="Ville" type="text">
          </div>
        </div><br/>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
          	<input class="form-control" id="telephone_c" name="telephone_c" placeholder="Telephone" type="text">
          </div>
        </div><br/>
          <div class="col-md-4 col-md-offset-4">
          	<button type="submit" class="btn btn-primary">Inscription</button>
          </div>
  </form>
 {% endblock %}