<li class="col-md-4" style="display:inline-block;vertical-align:top;margin-top:10px">
	<div style="position:relative">
	<a href="{{ base_path }}/store/{{ product.id }}">
		<img src="{{base_path}}/files/pictures/product/{{product.id}}.jpg" class="img-responsive img-rounded"/>
		{% if product.agriculture == 'biologique' %}
			<img src="{{base_path}}/files/design/logo/AB.png" class="img-responsive" style="position:absolute;width:15%;right:10px;bottom:20px"/>
		{% endif %}
	</a>
	<div class="row">
		<div class="title text-uppercase col-sm-9 col-xs-8 text-left">{{ product.label }}</div><div class="price col-sm-3 col-xs-4 text-right">{{ product.price|number_format(2) }} €<!-- {{ product.price_unit }} € <sup>{% if product.price_deci == 0 %}00{% else %}{{ product.price_deci }}{% endif %}</sup> --></div>
	</div>
	<div class="col-sm-9 col-xs-8 text-left">{{ product.packaging }}</div><div class="col-sm-3 col-xs-4 text-right">~ {{ product.package_weight }} {{ product.weight_unit }}</div>
	<div class="col-sm-12 col-xs-12 text-right">{{ product.priceper|number_format(2) }} € / {{ product.weight_unit_ref }}</div>
	<div class="col-sm-12 col-xd-12 text-left">{{ product.supplier.label }} ( {{ product.supplier.town }} )</div>
		{% if product.status == 'visible' %}
		<div class="col-md-1" style="padding-top: 10px"><a href="javascript: substractProduct('{{ cat.id }}_{{ product.id }}')"><span class="glyphicon glyphicon-minus-sign"></span></a></div><div class="col-md-3"><input id="{{ cat.id }}_{{ product.id }}" class="form-control input-sm" min="1" max="5" width="2" value="0"/></div><div class="col-md-1" style="padding-top: 10px"><a href="javascript: addProduct('{{ cat.id }}_{{ product.id }}')"><span class="glyphicon glyphicon-plus-sign"></span></a></div>
		<div class="col-md-4" ><a class="btn btn-primary btn-sm" href="javascript: submitToBasket('{{ cat.id }}_{{ product.id }}', {{ product.id }})" role="button">Ajouter au panier</a></div>
		{% else %}
		<div class="col-md-12">Epuisé</div>
		{% endif %}
</li>