<div class="col-md-2">
	<form role="search" class="inline-form">
		<div class="form-group">
			<div class="input-group">
				<input type="search" class="form-control" placeholder="Mot-clé"/>
				<span class="input-group-btn">
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
				</span>
			</div>
		</div>
	</form>
	<h3>CATEGORIES</h3>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#">Boulangerie<span class="badge">42</span></a></li>
		<li><a href="#">Viande<span class="badge">18</span></a></li>
		<li><a href="#">Epicerie salée<span class="badge">24</span></a></li>
		<li><a href="#">Epicerie sucrée<span class="badge">33</span></a></li>
		<li><a href="#">Boissons<span class="badge">22</span></a></li>
	</ul>
</div>