<li style="width:477px;margin:20px" class="text-left">
	<div class="row">
		<img src="" class="img-responsive img-rounded" alt="*Image producteur*"/>
	</div>
	<div class="row">
		<div class="title text-uppercase col-sm-9 col-xs-8 text-left">{{ supplier.name }}</div>
	</div>
	<div class="row">
		<div class="col-sm-9 col-xs-8 text-left">{{ supplier.label }}</div>
	</div>
	<div class="row bg-info">
		<div class="col-md-12">{{supplier.town}}</div>
	</div>
	<div class="row">
		<p class="col-md-4" style="margin:0px;padding:0px"><a class="btn btn-success" href="{{base_path}}/supplier/{{supplier.id}}" role="button">Voir details &raquo;</a></p>
	</div>
</li>