<form role="form" class="form-horizontal"
	method="post" action="#">
	<div class="form-group">
	<label for="inputNewEmail" class="col-sm-2 control-label">Nouvelle adresse email</label>
	<input type="email" class="form-control" id="inputNewEmail" name="email" placeholder="Email"/>
	</div>
	<div class="form-group">
	<label for="inputConfNewEmail" class="col-sm-2 control-label">Retaper adresse email</label>
	<input type="email" class="form-control" id="inputConfNewEmail" name="confirmemail" placeholder="Email"/>
	</div>
	<div class="form-group">
	<label for="inputPassword" class="col-sm-2 control-label">Mot de passe</label>
	<input type="password" class="form-control" id="inputPassword" name="password"/>
	</div>
	<div class="form-group">
	 <button type="submit" class="btn btn-primary">Envoyer</button>
	</div>
</form>