<form role="form" class="form-horizontal"
	method="post" action="#" autocomplete="off">
	<div class="form-group">
	<label for="inputCurrentPassword" class="control-label">Mot de passe actuel</label>
	<input type="password" class="form-control" id="inputCurrentPassword" name="currentpassword" autocomplete="off"/>
	</div>
	<div class="form-group">
	<label for="inputNewPassword" class="control-label">Nouveau mot de passe</label>
	<input type="password" class="form-control" id="inputNewPassword" name="newpassword" autocomplete="off"/>
	</div>
	<div class="form-group">
	<label for="inputConfirmPassword" class="control-label">Retaper le nouveau mot de passe</label>
	<input type="password" class="form-control" id="inputConfirmPassword" name="pwconfirm" autocomplete="off"/>
	</div>
	<div class="form-group">
	 <button type="submit" class="btn btn-primary">Envoyer</button>
	</div>
</form>