<form role="form" class="form-horizontal"
	method="post" action="#" autocomplete="off">
	<div class="form-group">
	<label for="inputNewEmail" class="control-label">Nouveau numéro</label>
	<input type="text" class="form-control" id="inputNewEmail" name="newphone" autocomplete="off"/>
	</div>
	<div class="form-group">
	<label for="inputConfNewEmail" class="control-label">Retaper le numéro</label>
	<input type="text" class="form-control" id="inputConfNewEmail" name="confirmphone" autocomplete="off"/>
	</div>
	<div class="form-group">
	<label for="inputPassword" class="control-label">Mot de passe</label>
	<input type="password" class="form-control" id="inputPassword" name="currentpassword" autocomplete="off"/>
	</div>
	<div class="form-group">
	 <button type="submit" class="btn btn-primary">Envoyer</button>
	</div>
</form>