{% extends "base.html" %}

{% block title %}Tbleau de bord utilisateur{% endblock %}

{% block content %}
<div class="wrapper container-fluid">
	<div class="alert_layer">
		{% include "alert/alert.html" %}
	</div>
	<div class="container mono_layer">
		<ul class="nav nav-tabs nav-justified" role="tablist">
			<li role="presentation" class="active"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">Mes commandes</a></li>
			<li role="presentation"><a href="#payments" aria-controls="payments" role="tab" data-toggle="tab">Mes Paiements</a></li>
			<li role="presentation"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">Mon compte</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="orders">{% include "user/tab_content/orders.html" %}</div>
			<div role="tabpanel" class="tab-pane fade" id="payments">Afficher les paiements</div>
			<div role="tabpanel" class="tab-pane fade" id="account">Afficher le compte utilisateur</div>
		</div>
	</div>
</div>
{% endblock %}