{% extends "base.html" %}

{% block title %}Tbleau de bord utilisateur{% endblock %}

{% block content %}
<div class="wrapper container-fluid">
	<div class="alert_layer">
		{% include "alert/alert.html" %}
	</div>
	<div class="container">
		<nav>
			<ul class="nav nav-tabs nav-justified">
				<li role="navigation" ><a href="#">Mes commandes</a></li>
				<li role="navigation"><a href="#">Mes Paiements</a></li>
				<li role="navigation"><a href="#">Mon compte</a></li>
			</ul>
		</nav>
	</div>
</div>
{% endblock %}