<form role="form" class="form-horizontal"
	method="post" action="{{base_path}}/user/edit/address" autocomplete="off">
	<div class="form-group">
	<label for="inputNewAddress" class="control-label">Nouvelle adresse</label>
	<input type="text" class="form-control" id="inputNewAddress" name="newaddress" autocomplete="off"/>
	</div>
	<div class="form-group">
	<label for="inputZip" class="control-label">Code postal</label>
	<input type="text" class="form-control" id="inputZip" name="newzip" autocomplete="off"/>
	</div>
	<div class="form-group">
	<label for="inputTown" class="control-label">Nouvelle ville</label>
	<input type="text" class="form-control" id="inputTown" name="newtown" autocomplete="off"/>
	</div>
	<div class="form-group">
	<label for="inputPassword" class="control-label">Mot de passe</label>
	<input type="password" class="form-control" id="inputPassword" name="password" autocomplete="off"/>
	</div>
	<div class="form-group">
	 <button type="submit" class="btn btn-primary">Envoyer</button>
	</div>
</form>